<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>

<section id="projects">
<div class="container">
  <h3>Projects</h3>


<button class="accordion">C/C++ Algorithm</button>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-body">
	    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Algorithm/tree/master/mdeshpa1_proj1" target="_blank">Project 6</a></strong>
			- Phone Directory C based implementation. Sorting uses <strong>quick sort</strong> algorithm. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Algorithm/tree/master/mdeshpa1_project2" target="_blank">Project 7</a></strong>
			- <strong>Strassen and Tromino</strong> algorithm C based implementation
		</h5>
	    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Algorithm/tree/master/mdeshpa1_project3" target="_blank">Project 8</a></strong>
			- <strong>Dijikstra</strong> Algorithm C based implementation <br/>
			  Brute force, Greedy and Dynamic programming <strong>0/1 Knapsack</strong> C based implementation
		</h5>
	    </div>
	  </div>
</div>

<button class="accordion">C/C++ Systems </button>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-body">
	    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Systems-Programming/tree/master/IPC%20Pipes/prj2" target="_blank">Project 1</a></strong>
			- The Matrix Multiplication is being implemented in C using Inter Process Communication(IPC) mechanism such as <strong>Anonymous Pipes.</strong>
			  The Client creates multiple worker processes and communication within processes happens in such a way that client 
			  would distribute input data for each row multiplication among the worker processes in order to achieve more concurrency. In short, 
			  designed and developed IPC protocol and structure between client and worker processes. Worker process receives input data , 
			  performs multiplication and sends response data back to the client.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Systems-Programming/tree/master/IPC%20Pipes/prj3/files" target="_blank">Project 2</a></strong>
			- The Matrix Multiplication is being implemented in C using Inter Process Communication (IPC) mechanism such as <strong>Named Pipes.</strong>
			  A long running daemon concurrent server waits on well-known FIFO to listen to client request and after accepting the request, 
			  server creates a worker process using double fork technique to perform multiplication of matrices sent by the client using multiplication 
			  function which is dynamically loaded module and in response, it returns the time taken at user, system level i.e. how many cycle ticks it needed to 
			  perform the matrix multiplication calculation.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Systems-Programming/tree/master/IPC%20Shared%20Memory/prj4" target="_blank">Project 3</a></strong>
		        - Concept uses Semaphores, <strong>Shared Memory</strong> Segment IPC client server mechanism to perform matrices multiplication. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Systems-Programming/tree/master/IPC%20Socket/prj5" target="_blank">Project 4</a></strong>
			- Concept uses <strong>Socket IPC</strong> Client/Server mechanism in which client sends matrices to the server and server performs matrices multiplication 
			  and send time response taken back to the client.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Mithun05/Systems-Programming/tree/master/Object%20Oriented%20C/prj1" target="_blank">Project 5</a></strong>
			- <strong>Object Oriented Programming in C </strong><br/> 
			  <strong>Abstract Matrix</strong> Implementation : It consists of operations such as transpose, multiplications which can be implemented with the help of other operations such as 
			  getting rows, columns and entries in the matrices without the knowledge of concrete implementations. This is known to be Abstract Matrix Implementation.<br/>
			  <strong>Dense Matrix</strong> Implementation : It consists of accessing matrices elements in row major order and inherit operations from Abstract Matrix and implements only those 
			  which are not implemented in Abstract matrix. It implements multiplication operation by inheriting it from Abstract Matrix. <br/>
			  <strong>Smart Matrix</strong> Implementation: It consists of accessing matrices elements in column major order and inherit operations from Dense Matrix and override the multiplication 
			  operation in addition to taking a transpose of a multiplier. 
		</h5>
	    </div>
	  </div>
</div>

<button class="accordion">Java</button>
<div class="panel">
  <div class="panel panel-default">
    <div class="panel-body">
	    </div>
	  </div>
</div>
</div>
</section>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
